* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #a4602b;
  color: white;
}

/* Container */
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

/* Header */
.header {
  padding: 20px 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav a {
  margin-left: 40px;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

/* Hero */
.hero {
  padding: 80px 0;
}

.hero-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Text */
.hero-text h1 {
  font-size: 60px;
  line-height: 1.2;
  font-weight: 900;
}

.hero-text span {
  color: yellow;
}

.hero-text p {
  margin-top: 30px;
  font-size: 20px;
  font-weight: 600;
}

/* Image */
.hero-image img {
  width: 400px;
  border-radius: 5px;
}

/* About section */
.about {
  background-color: #f2f2f2;
  padding: 100px 0;
}

.about-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Text */
.about-text {
  max-width: 600px;
}

.about-text h2 {
  color: #a4602b;
  font-size: 36px;
  margin-bottom: 40px;
  font-weight: 900;
}

.about-text p {
  color: black;
  font-size: 26px;
  font-weight: 800;
  line-height: 1.6;
}

/* Image */
.about-image img {
  width: 400px;
  border-radius: 5px;
}

/* Contacts */
.contacts {
  background-color: #f2f2f2;
  padding: 100px 0;
  text-align: center;
}

.contacts h2 {
  color: #a4602b;
  font-size: 36px;
  margin-bottom: 60px;
  font-weight: 900;
}

.contacts-content {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.contact-item p {
  font-size: 22px;
  font-weight: 900;
  color: black;
  margin-bottom: 10px;
}

.contact-item span {
  font-size: 20px;
  font-weight: 800;
  color: black;
}

/* Footer */
.footer {
  background-color: #a4602b;
  padding: 30px 0;
  text-align: center;
  color: white;
  font-weight: 700;
}